html {
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
    font-family: monospace;
    font-size: 2rem;
}

.container {
    display: grid;
    background-color: white;
    border: 1px solid black;
    margin: 15px auto;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.container > * {
    align-items: center;
    justify-content: center;
    display: grid;
    background-color:#273043;
    color: #00b1c5;
}

.display {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #00b1c5;;
    font-size: 2rem;
    padding: 0 10px;
    justify-self: stretch;
    justify-content: right;
    color: #273043;
}

.operator {
    background: #242c3d;
    color: white;
}

.equal {
    background-color: #00b1c5;
    color: white;
}