body {
    background-color: #d3d3d3;
}

.container {
    display: grid;
    background-color: white;
    border: 1px solid black;
    margin: 15px auto;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.container > * {
    text-align: center;
    align-self: stretch;
}

.display {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: right;
    background: cornflowerblue;
    height: 100%;
}

.display h1 {
    line-height: 66px;
    padding: 0 10px;
    font-size: 2rem;
}

.operator {
    background: blue;
}