html {
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}

.container {
    display: grid;
    background-color: white;
    border: 1px solid black;
    margin: 15px auto;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px repeat(6, 1fr);
}

.container > * {
    align-items: center;
    justify-content: center;
    display: grid;
    background-color:#273043;
    color: #00b1c5;
    border: none;
    font-family: monospace;
    font-size: 2rem;
    font-weight: 600;
}

.display, .raw-display {
    background: #00b1c5;
    padding: 0 10px;
    font-family: monospace;
    justify-self: stretch;
    justify-content: right;
}

.display {
    grid-column: 1 / -1;
    grid-row: 2 / 3; 
    color: #273043;
    font-size: 3rem;
}

.raw-display {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #00b1c5;;
    color: white;
    font-size: 1.2rem;
}

.operator {
    background: #242c3d;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
}

.equal {
    background-color: #00b1c5;
    color:#273043;
}

button img {
    margin: 0 auto;
}