html {
    box-sizing: border-box;
}

body {
    background-color: #273043;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.wrapper > * {
    flex: 0 1 auto;
}

.calculator-wrapper {
    flex: 1 1 auto;
}

.container {
    background-color: #242c3d;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px repeat(6, 1fr);
    height: 90vw;
    margin: 30px auto;
    max-height: 400px;
    max-width: 400px;
    width: 80vw;
}

.container > * {
    align-items: center;
    background-color: #242c3d;
    border: none;
    color: #00b1c5;
    display: grid;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
}

/* Display Areas */
.display-container{
    align-items: center;
    background-color: #00b1c5;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35px auto;
    justify-content: center;
}

.display, .raw-display {
    font-family: monospace;
    justify-content: right;
    justify-self: stretch;
    overflow: scroll;
    padding: 0 10px;
    text-align: end;
}

.display {
    color: #273043;
    font-size: 1.5rem;
    grid-column: 1 / 4;
    grid-row: 2 / 3; 
}

.raw-display {
    color: white;
    font-size: .65rem;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

/* Buttons */
button {
    overflow: hidden;
}

button img {
    margin: 0 auto;
}

button sup {
    font-size: .5rem;
    height: 30px;
    vertical-align: top;
}

button:focus {
    outline-color: #00b1c5;
}

button:hover {
    color: #00cfe6;
    font-size: 1.75rem;
}

.operator {
    background: #242c3d;
    color: white;
    font-family: inherit;
    font-size: 1.25rem;
}

.operator:focus,
.operator:hover {
    color: white;
    font-size: 1.5rem;
}

.operator:focus img,
.operator:hover img {
    height: 25px;
}

#Backspace {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

#Backspace:focus img, 
#Backspace:hover img {
    height: 35px;
}

.equal {
    background-color: #00b1c5;
}

.equal:focus{
    outline-color: white;
}

#exponent {
    display: flex;
}

#factorial, #exponent {
    letter-spacing: .1em;
}

/* Text Content */
h1 {
    color: #ff7800;
    font-size: 2rem;
    margin: 30px 0 0;
    text-align: center;
}

p {
    color: #ff7800;
    font-size: .9rem;
    line-height: 1.5rem;
}

p span {
    color: white;
}

.warning-container {
    margin: 15px auto;
    max-width: 400px;
    min-height: 125px;
    width: 80vw;
}

.shortcut {
    align-items: center;
    display: flex;
}

.shortcut img {
    padding-right: 6px;
}

/* Footer */
footer {
    align-items: center;
    background-color: #00b1c5;
    display: flex;
    height: 50px;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 5px;
    width: 100%;
}

footer img {
    margin-right: 15px;
}

.description {
    color: white;
    font-size: .9rem;
    line-height: 20px;
    margin-left: 15px;
    width: 60vw;
}

a {
    color: white;
}

a:hover {
    color: #242c3d;
}

@media only screen and (min-width: 400px) {
    .container > * {
        font-size: 2.25rem;
    }

    .display {
        font-size: 1.9rem;
    }
    
    .raw-display {
        font-size: .9rem;
    }

    button sup {
        font-size: .7rem;
    }

    .operator {
        font-size: 1.5rem;
    }

    button img {
        height: 25px;
    }

    button:hover {
        font-size: 2.5rem;
    }

    #Backspace img {
        height: 35px;
    }
    
    #Backspace:focus img, 
    #Backspace:hover img {
        height: 40px;
    }

    .operator:hover img {
        height: 30px;
    }

    .operator:focus,
    .operator:hover {
        font-size: 1.75rem;
    }

    #positive-negative {
        font-size: 1.75rem;
    }

    #positive-negative:hover {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1rem;
        /* line-height: 1.75rem; */
    }
}

@media only screen and (min-width: 500px) {

    .container > * {
        font-size: 3rem;
    }

    .display {
        font-size: 2.4rem;
    }
    
    .raw-display {
        font-size: 1.1rem;
    }

    button sup {
        font-size: .9rem;
    }

    .operator {
        font-size: 1.75rem;
    }

    button img {
        height: 30px;
    }

    .operator:hover img {
        height: 35px;
    }

    #Backspace img {
        height: 40px;
    }
    
    #Backspace:focus img, 
    #Backspace:hover img {
        height: 45px;
    }

    button:hover {
        font-size: 3.25rem;
    }

    .operator:focus,
    .operator:hover {
        font-size: 2rem;
    }

    #positive-negative {
        font-size: 2.25rem;
    }

    #positive-negative:hover {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    footer img {
        margin-right: 30px;
    }
    
    .description {
        margin-left: 30px;
    }
}